merging intakes/outcomes

In [618]:
#imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [619]:
pd.set_option('display.max_columns', 100)

pd.set_option('display.max_rows', 100)

In [620]:
#read in data and look at initial columns

In [621]:
outcomes = pd.read_csv('../datasets/outcomes_initial.csv').drop(columns=['Unnamed: 0'])
intakes = pd.read_csv('../datasets/intakes_initial.csv').drop(columns=['Unnamed: 0'])

In [622]:
outcomes.shape

(129432, 15)

In [623]:
intakes.shape

(128838, 15)

In [624]:
outcomes.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,is_named,year,month,day
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,Unknown,Cat,Neutered Male,2.000,Domestic Shorthair Mix,Brown Tabby/White,1,2019,5,Wednesday
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,Unknown,Dog,Neutered Male,1.000,Chihuahua Shorthair Mix,White/Brown,1,2018,7,Wednesday
2,A821648,NaN,2020-08-16 11:38:00,08/16/2019,Euthanasia,Unknown,Other,Unknown,1.000,Raccoon,Gray,0,2020,8,Sunday
3,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,Unknown,Dog,Neutered Male,0.333,Anatol Shepherd/Labrador Retriever,Buff,1,2016,2,Saturday
4,A674754,NaN,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,Intact Male,0.016,Domestic Shorthair Mix,Orange Tabby,0,2014,3,Tuesday

In [625]:
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named,year,month,day
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2.000,Beagle Mix,Tricolor,1,2019,1,Thursday
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8.000,English Springer Spaniel,White/Liver,1,2015,7,Sunday
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,0.917,Basenji Mix,Sable/White,1,2016,4,Thursday
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,0.077,Domestic Shorthair Mix,Calico,0,2013,10,Monday
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4.000,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,1,2014,6,Sunday

In [626]:
#looking at animals in data more than once

In [627]:
intakes_val_counts = intakes['animal_id'].value_counts()

#count of animal ids that show up more than once in dataset
len(intakes_val_counts[intakes_val_counts>1])

10468

In [628]:
outcomes_val_counts = outcomes['animal_id'].value_counts()

#count of animal ids that show up more than once in dataset
len(outcomes_val_counts[outcomes_val_counts>1])

10489

In [629]:
#sort dfs by animal id and datetime

In [630]:
intakes.sort_values(by=['animal_id', 'datetime'], inplace=True)
intakes.reset_index(inplace=True, drop= True)

In [631]:
outcomes.sort_values(by=['animal_id', 'datetime'], inplace=True)
outcomes.reset_index(inplace=True, drop = True)

In [632]:
#make dictionary of frequency of animal in system for intakes and outcomes

In [633]:
intakes_counts_dict = intakes['animal_id'].value_counts().to_dict()

In [634]:
len(intakes_counts_dict)

115138

In [635]:
#add frequency column to df

intakes['intake_frequency_animal_id'] = intakes['animal_id'].map(intakes_counts_dict)

In [636]:
outcomes_counts_dict = outcomes['animal_id'].value_counts().to_dict()

In [637]:
len(outcomes_counts_dict)

115728

In [638]:
#add frequency column to df

outcomes['outcome_frequency_animal_id'] = outcomes['animal_id'].map(outcomes_counts_dict)

In [639]:
#change column names to decifer between intakes / outcomes data

In [640]:
intakes.columns = (['animal_id', 'name', 'intake_datetime',  'found_location', 'intake_type',
                   'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake', 'breed',
                   'color', 'is_named', 'intake_year', 'intake_month', 'intake_day', 'intake_frequency_animal_id'])

In [641]:
outcomes.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,is_named,year,month,day,outcome_frequency_animal_id
0,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Saturday,3
1,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Saturday,3
2,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday,3
3,A047759,Oreo,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Monday,1
4,A134067,Bandit,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday,1

In [642]:
outcomes.columns = (['animal_id', 'name', 'outcome_datetime', 'date_of_birth',  'outcome_type',
                   'outcome_subtype', 'animal_type', 'sex_upon_outcome', 'age_upon_outcome', 'breed',
                   'color', 'is_named', 'outcome_year', 'outcome_month', 'outcome_day', 'outcome_frequency_animal_id'])

In [643]:
outcomes.head()

,animal_id,name,outcome_datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,is_named,outcome_year,outcome_month,outcome_day,outcome_frequency_animal_id
0,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Saturday,3
1,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Saturday,3
2,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday,3
3,A047759,Oreo,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Monday,1
4,A134067,Bandit,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday,1

In [644]:
#add a iterative count column to combine with id and make unique key for merge

In [645]:
count_animal_id = []

count = 1

for i in range(0, len(intakes['animal_id'])):
    if i == 0:
        count_animal_id.append(1)
    elif intakes['animal_id'][i] == intakes['animal_id'][i-1]:
        count += 1
        count_animal_id.append(count)
    else:
        count = 1
        count_animal_id.append(1)

In [646]:
count_animal_id =pd.DataFrame(count_animal_id)

In [647]:
intakes['intake_count_animal_id'] = count_animal_id

In [648]:
intakes.head()

,animal_id,name,intake_datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named,intake_year,intake_month,intake_day,intake_frequency_animal_id,intake_count_animal_id
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Friday,3,1
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Friday,3,2
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday,3,3
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Wednesday,1,1
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday,1,1

In [649]:
#create combination id and count key for merge

In [650]:
intakes['id_count'] = [str(intakes['animal_id'][i]) + '-' + str(intakes['intake_count_animal_id'][i]) for i in range(0, len(intakes['animal_id'])) ]

In [651]:
intakes.head()

,animal_id,name,intake_datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named,intake_year,intake_month,intake_day,intake_frequency_animal_id,intake_count_animal_id,id_count
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Friday,3,1,A006100-1
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Friday,3,2,A006100-2
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday,3,3,A006100-3
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Wednesday,1,1,A047759-1
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday,1,1,A134067-1

In [652]:
#same process for outcomes

In [653]:
count_animal_id = []

count = 1

for i in range(0, len(outcomes['animal_id'])):
    if i == 0:
        count_animal_id.append(1)
    elif outcomes['animal_id'][i] == outcomes['animal_id'][i-1]:
        count += 1
        count_animal_id.append(count)
    else:
        count = 1
        count_animal_id.append(1)

In [654]:
count_animal_id =pd.DataFrame(count_animal_id)

In [655]:
outcomes['outcome_count_animal_id'] = count_animal_id

In [656]:
outcomes['id_count'] = [str(outcomes['animal_id'][i]) + '-' + str(outcomes['outcome_count_animal_id'][i]) for i in range(0, len(outcomes['animal_id'])) ]

In [657]:
outcomes.head()

,animal_id,name,outcome_datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,is_named,outcome_year,outcome_month,outcome_day,outcome_frequency_animal_id,outcome_count_animal_id,id_count
0,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Saturday,3,1,A006100-1
1,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Saturday,3,2,A006100-2
2,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday,3,3,A006100-3
3,A047759,Oreo,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Monday,1,1,A047759-1
4,A134067,Bandit,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday,1,1,A134067-1

In [658]:
#create copy of outcomes and drop unnecessary columns for merge

In [659]:
outcomes_shortened = outcomes.copy()

In [660]:
outcomes_shortened.drop(columns=['animal_id', 'name', 'date_of_birth', 'animal_type', 'breed', 'color', 'is_named'], inplace=True)

In [661]:
#inner join data on combo animal id- count field

In [662]:
merged = pd.merge(intakes, outcomes_shortened, on='id_count')

In [663]:
merged.shape

(127889, 28)

In [664]:
merged.head()

,animal_id,name,intake_datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named,intake_year,intake_month,intake_day,intake_frequency_animal_id,intake_count_animal_id,id_count,outcome_datetime,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome,outcome_year,outcome_month,outcome_day,outcome_frequency_animal_id,outcome_count_animal_id
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Friday,3,1,A006100-1,2014-03-08 17:10:00,Return to Owner,Unknown,Neutered Male,6.0,2014,3,Saturday,3,1
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Friday,3,2,A006100-2,2014-12-20 16:35:00,Return to Owner,Unknown,Neutered Male,7.0,2014,12,Saturday,3,2
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday,3,3,A006100-3,2017-12-07 00:00:00,Return to Owner,Unknown,Neutered Male,1.0,2017,12,Thursday,3,3
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Wednesday,1,1,A047759-1,2014-04-07 15:12:00,Transfer,Partner,Neutered Male,1.0,2014,4,Monday,1,1
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday,1,1,A134067-1,2013-11-16 11:54:00,Return to Owner,Unknown,Neutered Male,1.0,2013,11,Saturday,1,1

In [ ]:
#reorder columns

In [665]:
merged.columns

Index(['animal_id', 'name', 'intake_datetime', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color', 'is_named', 'intake_year', 'intake_month',
       'intake_day', 'intake_frequency_animal_id', 'intake_count_animal_id',
       'id_count', 'outcome_datetime', 'outcome_type', 'outcome_subtype',
       'sex_upon_outcome', 'age_upon_outcome', 'outcome_year', 'outcome_month',
       'outcome_day', 'outcome_frequency_animal_id',
       'outcome_count_animal_id'],
      dtype='object')

In [666]:
merged = merged[['animal_id', 'id_count', 'name', 'animal_type', 'breed', 'color', 'is_named',
                   'intake_frequency_animal_id', 'intake_count_animal_id',
                  'outcome_frequency_animal_id','outcome_count_animal_id', 'intake_datetime', 'outcome_datetime',
                  'found_location', 'intake_type', 'intake_condition', 'outcome_type', 'outcome_subtype',  
                   'sex_upon_intake', 'age_upon_intake', 'sex_upon_outcome', 'age_upon_outcome',
                   'intake_year', 'intake_month', 'intake_day',
                  'outcome_year', 'outcome_month', 'outcome_day']]

In [667]:
merged.head()

,animal_id,id_count,name,animal_type,breed,color,is_named,intake_frequency_animal_id,intake_count_animal_id,outcome_frequency_animal_id,outcome_count_animal_id,intake_datetime,outcome_datetime,found_location,intake_type,intake_condition,outcome_type,outcome_subtype,sex_upon_intake,age_upon_intake,sex_upon_outcome,age_upon_outcome,intake_year,intake_month,intake_day,outcome_year,outcome_month,outcome_day
0,A006100,A006100-1,Scamp,Dog,Spinone Italiano Mix,Yellow/White,1,3,1,3,1,2014-03-07 14:26:00,2014-03-08 17:10:00,8700 Research in Austin (TX),Public Assist,Normal,Return to Owner,Unknown,Neutered Male,6.0,Neutered Male,6.0,2014,3,Friday,2014,3,Saturday
1,A006100,A006100-2,Scamp,Dog,Spinone Italiano Mix,Yellow/White,1,3,2,3,2,2014-12-19 10:21:00,2014-12-20 16:35:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Return to Owner,Unknown,Neutered Male,7.0,Neutered Male,7.0,2014,12,Friday,2014,12,Saturday
2,A006100,A006100-3,Scamp,Dog,Spinone Italiano Mix,Yellow/White,1,3,3,3,3,2017-12-07 14:07:00,2017-12-07 00:00:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Return to Owner,Unknown,Neutered Male,1.0,Neutered Male,1.0,2017,12,Thursday,2017,12,Thursday
3,A047759,A047759-1,Oreo,Dog,Dachshund,Tricolor,1,1,1,1,1,2014-04-02 15:55:00,2014-04-07 15:12:00,Austin (TX),Owner Surrender,Normal,Transfer,Partner,Neutered Male,1.0,Neutered Male,1.0,2014,4,Wednesday,2014,4,Monday
4,A134067,A134067-1,Bandit,Dog,Shetland Sheepdog,Brown/White,1,1,1,1,1,2013-11-16 09:02:00,2013-11-16 11:54:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Return to Owner,Unknown,Neutered Male,1.0,Neutered Male,1.0,2013,11,Saturday,2013,11,Saturday

In [670]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127889 entries, 0 to 127888
Data columns (total 28 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   animal_id                    127889 non-null  object
 1   id_count                     127889 non-null  object
 2   name                         88359 non-null   object
 3   animal_type                  127889 non-null  object
 4   breed                        127889 non-null  object
 5   color                        127889 non-null  object
 6   is_named                     127889 non-null  int64
 7   intake_frequency_animal_id   127889 non-null  int64
 8   intake_count_animal_id       127889 non-null  int64
 9   outcome_frequency_animal_id  127889 non-null  int64
 10  outcome_count_animal_id      127889 non-null  int64
 11  intake_datetime              127889 non-null  object
 12  outcome_datetime             127889 non-null  object
 13  found_location               127889 non-null  object
 14  intake_type                  127889 non-null  object
 15  intake_condition             127889 non-null  object
 16  outcome_type                 127889 non-null  object
 17  outcome_subtype              127889 non-null  object
 18  sex_upon_intake              127889 non-null  object
 19  age_upon_intake              127889 non-null  float64
 20  sex_upon_outcome             127889 non-null  object
 21  age_upon_outcome             127889 non-null  float64
 22  intake_year                  127889 non-null  int64
 23  intake_month                 127889 non-null  int64
 24  intake_day                   127889 non-null  object
 25  outcome_year                 127889 non-null  int64
 26  outcome_month                127889 non-null  int64
 27  outcome_day                  127889 non-null  object
dtypes: float64(2), int64(9), object(17)
memory usage: 32.3+ MB

In [674]:
#calculate time in shelter

In [671]:
merged['outcome_datetime'] = pd.to_datetime( merged['outcome_datetime'])
    
merged['intake_datetime'] = pd.to_datetime( merged['intake_datetime'])

In [672]:
merged['time_in_shelter'] = [ merged['outcome_datetime'][i] - merged['intake_datetime'][i] for i in range(0, len(merged['id_count'])) ]

In [673]:
merged.head()

,animal_id,id_count,name,animal_type,breed,color,is_named,intake_frequency_animal_id,intake_count_animal_id,outcome_frequency_animal_id,outcome_count_animal_id,intake_datetime,outcome_datetime,found_location,intake_type,intake_condition,outcome_type,outcome_subtype,sex_upon_intake,age_upon_intake,sex_upon_outcome,age_upon_outcome,intake_year,intake_month,intake_day,outcome_year,outcome_month,outcome_day,time_in_shelter
0,A006100,A006100-1,Scamp,Dog,Spinone Italiano Mix,Yellow/White,1,3,1,3,1,2014-03-07 14:26:00,2014-03-08 17:10:00,8700 Research in Austin (TX),Public Assist,Normal,Return to Owner,Unknown,Neutered Male,6.0,Neutered Male,6.0,2014,3,Friday,2014,3,Saturday,1 days 02:44:00
1,A006100,A006100-2,Scamp,Dog,Spinone Italiano Mix,Yellow/White,1,3,2,3,2,2014-12-19 10:21:00,2014-12-20 16:35:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Return to Owner,Unknown,Neutered Male,7.0,Neutered Male,7.0,2014,12,Friday,2014,12,Saturday,1 days 06:14:00
2,A006100,A006100-3,Scamp,Dog,Spinone Italiano Mix,Yellow/White,1,3,3,3,3,2017-12-07 14:07:00,2017-12-07 00:00:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Return to Owner,Unknown,Neutered Male,1.0,Neutered Male,1.0,2017,12,Thursday,2017,12,Thursday,-1 days +09:53:00
3,A047759,A047759-1,Oreo,Dog,Dachshund,Tricolor,1,1,1,1,1,2014-04-02 15:55:00,2014-04-07 15:12:00,Austin (TX),Owner Surrender,Normal,Transfer,Partner,Neutered Male,1.0,Neutered Male,1.0,2014,4,Wednesday,2014,4,Monday,4 days 23:17:00
4,A134067,A134067-1,Bandit,Dog,Shetland Sheepdog,Brown/White,1,1,1,1,1,2013-11-16 09:02:00,2013-11-16 11:54:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Return to Owner,Unknown,Neutered Male,1.0,Neutered Male,1.0,2013,11,Saturday,2013,11,Saturday,0 days 02:52:00